.site-header {
    background-color:#16cea9;
    color: #f2f5e4;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-header-content{
    margin: 10px;
    align-self: center;
}

.course-link{
    color: #ecfd9e;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #0c5a4a 2px 5px 5px;
}

body{
    margin: 0;
}